html, body {
	height: 100%;
}
#sidebar {
	height: 100%;
	background-color: #191919;
	color: #e6e6e6;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#sidebar header {
	text-align: center;
}

#sidebar header h1 {
	margin: 0;
}

#sidebar .hero-unit {
	margin: 50% 2em 0;
	text-align: right;
	font-size: 1.1em;
}

#sidebar footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#page {
	padding: 0;
	overflow: auto;
	height: 100%;
}

.content {
	padding: 10px;
}